/* ESTILOS GENERALES */

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
}

.heroindex {
    background-image: url(/img/bedsheet.jpg);
    background-position: center;
    background-size: cover;
}

.herosalud {
    background-color: #d3e1e6;
}

.soluciones-logo {
    margin-bottom: 1rem;
}

/* MAPAS Y EACH */

$redes:(
    instagram-color: #30618A,
    youtube-color: #FF0000,
    facebook-color: #3b5998,
    twitter-color: #00acee,
);

@each $red-social, $color-red in $redes {
    .btn-#{$red-social} {
        color: $color-red;
    }
}

/* MODS BOOTSTRAP */

.btn-primary {
    color: #fff;
    background-color: $color-btn-primary;
    border-color: $color-btn-primary;
    &:hover {
        color: $color-btn-primary;
        background-color: #fff;
        border-color: $color-btn-primary;
    }
}

            /* EXTEND */
.btn-secondary {
    @extend .btn-primary;
    background-color: $color-btn-secondary;
    border-color: $color-btn-secondary;
    &:hover {
        color: $color-btn-secondary;
        border-color: $color-btn-secondary;
    }
}


/* ANIMACIONES Y TRANSICIONES */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.20;
    }
    40% {
        opacity: 0.40;
    }
    60% {
        opacity: 0.60;
    }
    80% {
        opacity: 0.80;
    }
    100% {
        opacity: 1;
    }
}

            /* MIXIN */
@mixin animationfade($name, $duration, $delay, $count) {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $count;
}

.fadein {
    @include animationfade(fadein, 0.5s, 0s, 1);
}

