* {
    margin: 0;
    padding: 0;
    font-family: 'calibre', sans-serif;
}

/* NOMBRE DE AREAS DEL GRID */
header {
    grid-area: header ;
}

footer {
    grid-area: footer;
}

.heroIndex {
    grid-area: heroindex ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 248, 248);
}

.hero2Index {
    grid-area: hero2index ;
}

.pasosEstudioIndex {
    grid-area: estudioindex ;
}

.quizIndex {
    grid-area: quizindex;
}

.nosotrosIndex {
    grid-area: nosotrosindex;
}

.fromularioIndex {
    grid-area: formularioindex;
}

.heroSalud {
    grid-area: herosalud ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 248, 248);
}

.hero2salud {
    grid-area: hero2salud ;
}

.trastornosSalud {
    grid-area: trastornosSalud ;
}

.apneaSalud {
    grid-area: apneaSalud;
}

.curaApneaSalud {
    grid-area: curaApneaSalud;
}

/*DESKTOP*/

@media only screen and (min-width: 481px){

/*GRIDS POR AREAS*/

#gridAreasIndex {
    display: grid;
    grid-template-areas: /* 1 COLUMNAS Y 8 FILAS*/
    "header"
    "heroindex"
    "hero2index"
    "estudioindex"
    "quizindex"
    "nosotrosindex"
    "formularioindex"
    "footer";
    
    grid-template-columns: 100%;
}

#gridAreasSalud {
    display: grid;
    grid-template-areas: /* 1 COLUMNAS Y 7 FILAS*/
    "header"
    "herosalud"
    "hero2salud"
    "trastornosSalud"
    "apneaSalud"
    "curaApneaSalud"
    "footer"; 

    grid-template-columns: 100%;
}

header {
    background-color: white;
    border-bottom: groove 2px slategray;
    padding: 10px 0px 10px 0px;
    position: sticky; 
    top: 0px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

.navMenu1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 0 1 40vw;
}

.navMenu2 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 0 1 40vw;
}

.navMenu1 li a, .navMenu2 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem
}

.logoHeader {
    width: 90px;
    display: flex;
    justify-content: center;
    flex: 0 1 20vw
}

.heroIndexLeft {
    text-align: left;
    justify-content: center;
    flex: 0 1 40vw;
}

.heroIndexLeft h1 {
    font-size: 2rem;
    padding-left: 20%;
}

.heroIndexRight {
    background-image: url(manSleeping.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    flex: 0 1 60vw;
}

.heroSaludLeft {
    text-align: left;
    justify-content: center;
    flex: 0 1 40vw;
}

.heroSaludLeft h1 {
    font-size: 2rem;
    padding-left: 20%;
}

.heroSaludRight {
    background-image: url(sound_sleep_health-1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    flex: 0 1 60vw;
}

.mainFormulario{
    padding: 20px;
}

footer {
    padding: 20px;
    border-top: groove 2px slategray;
}
}

/*TABLET*/



/*SMARTPHONE*/
@media only screen and (max-width: 480px){

/*GRIDS POR AREAS*/

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navMenu1 {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navMenu2 {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navMenu1 li a, .navMenu2 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.navMenu1 li, .navMenu2 li {
    text-align: center;
    padding-top: 10px;
}

.logoHeader {
    width: 90px;
    display: flex;
    justify-content: center;
    order: -1;
}

.heroSalud, .heroIndex {
    flex-direction: column;
}

.heroIndexLeft {
    text-align: left;
    justify-content: center;
    padding: 20px
}

.heroIndexLeft h1 {
    font-size: 1.5rem;
}

.heroIndexRight {
    background-image: url(manSleeping.jpeg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.heroSaludLeft {
    text-align: left;
    justify-content: center;
    padding: 20px
}

.heroSaludLeft h1 {
    font-size: 1.5rem;
}

.heroSaludRight {
    background-image: url(sound_sleep_health-1.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

}
